 <% if shop.shop_recommended_by?(current_user) %>
  <%= link_to "このお店のおすすめを解除する", shop_shop_recommendations_path(shop), method: :delete, remote: true %>
<% elsif  @shop_recommendations_count_over_message %>
  <p><%=  @shop_recommendations_count_over_message %></p>
<% else %>
  <%= link_to "このお店をおすすめに登録する", shop_shop_recommendations_path(shop), method: :post, remote: true %>
<% end %>