<% unless user == current_user %>
  <div id= "follow_link">
    <% if current_user.following?(user) %>
      <%= render "relationships/unfollow", user: user %>
    <% else %>
      <%= render "relationships/follow", user: user %>
    <% end %>
  </div>
<% end %>