 <div class= "follow_count_items">
   <%= link_to "フォロー #{user.follower.count}", {controller: :relationships, action: :following} %>
   <%= link_to "フォロワー #{user.followed.count}",{controller: :relationships, action: :follower} %>
</div>