<div class = "user-index">
  <table class= "table-dark table-striped rounded users_table">
    <% users.each do |user| %>
      <% unless user == current_user %>
        <tr>
          <td height= "50" class= "pl-1 pr-1">
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag user, :user_image, size: "40x40", format: "jpeg", fallback: "default-icon-img.jpeg",class: "rounded-circle" %>
            <% end %>
          </td>
          <td align= "left" class= "w-75 pl-2"><%= user.name %></td>
        </tr>
      <% end %>
    <% end %>
    <%= paginate users, param_name: "users_pagina", class: "paginate", remote: true %>
  </table>
  <p>ユーザーをフォローして繋がりましょう！</p>
</div>