<div class = "container">
  <% users.each do |user| %>
    <div class = "row">
      <%= attachment_image_tag user, :user_image, size: "40x40", format: "jpeg", fallback: "default-icon-img.jpeg" %>
      <%= user.name %>
      <%= link_to "詳細", user_path(user) %>
    </div>
  <% end %>
</div>