<div class= "jumbotron jumbotron-fuid concept-section">
  <div class= "concept_text">
    <div class= "container text-center">
      <h2>Huusteとは？</h2>
      <p>Huusteは　「humanity × taste」<br>
        投稿する「人」に注目した飲食店情報の投稿サイト。<br>
        様々な価値観を持つ人が共感し、繋がりその人の食を知る。<br>
        お店への評価ではなく、投稿している人の価値観を軸に飲食店の情報を共有できます。</p>
    </div>
  </div>
</div>

<div class= "about_main_section">
  <div class= "about_main_section_cover">
    <div class= "container">
      <div class= "row how_to_section_title">
        <h1>　使い方　</h1>
      </div>
      <div class= "row how_to_sections">
        <div class= "col-6 how_to_sections_text">
          <h3>人と繋がる</h3>
          <p>Huusteは人との繋がりから始まります。
            自分が大事にしている価値観や普段の考え方から気なる人、自分に近い人と繋がりましょう。
            人気のユーザーをとりあえずフォローしてみるもよし、素敵な写真から繋がるもよし、どんどん輪を広げてみましょう。
          </p>
        </div>
        <div class= "col-6 how_to_sections_img">
          <%= image_tag "about-cheers-img.jpg", class: "img-fluid" %>
        </div>
      </div>
      <div class= "row how_to_sections">
        <div class= "col-6 how_to_sections_img">
          <%= image_tag "about-find-img.jpeg", class: "img-fluid" %>
        </div>
        <div class= "col-6 how_to_sections_text">
          <h3>お店を探す</h3>
          <p>繋がっている人がお勧めしているお店を知ることができます。普段からチェックしてお気に入りにしておくのも良し、急遽その場で近くにフォロワーさんのお勧めのお店がないかをチェックして探してみるも良し。自分が信頼している人のおすすめするお店を見つけることができます。</p>
        </div>
      </div>
      <div class= "row concept_section_signin_link">
        <div class= "col-12 text-center mt-3 mb-2">
          <p><%= link_to "はじめる",new_user_registration_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>