<div class= "container">
  <div class= "row concept-section">
    <h2>Huusteとは？</h2>
  </div>
  <div class= "row how-to-section">
    <h2>使い方</h2>
  </div>
  <div class= "row">
    <%= link_to "はじめる",new_user_registration_path %>
  </div>
</div>