<div class= "about_contents">
<div class= "about_contents_cover">
  <div class= "jumbotron jumbotron-fuid concept-section">
    <div class= "concept_text">
      <div class= "container about_top_text_items">
        <h1>Blend CAFEとは？</h1>
        <p>様々なカフェがBlend Coffeeのように混ざり合いできているBlend CAFE<br>
            Blend CAFEは新しいカフェとの出会いを探すことのできるサイトです。<br>
            お洒落な雰囲気、落ち着いて作業ができる場所、ゆっくり一休みできるカフェ…などなど、自分が気になるカフェと出会うことができます。</p>
      </div>
    </div>
  </div>

  <div class= "about_main_section">
    <div class= "about_main_section_cover">
      <div class= "container">
        <div class= "row how_to_section_title">
          <h1>使い方</h1>
        </div>
        <div class= "row how_to_sections how_to_sec1">
          <div class= "col-6 how_to_sections_text">
            <h2>人と繋がる</h2>
            <p>気になる人と繋がってみてください。<br>
              とりあえずフォローしてみるもよし、素敵な写真から繋がるもよし、どんどん輪を広げてみましょう。<br>
              フォローすることでその人の投稿からお店を探すことができるようになります。<br>
              また、その人がオススメしているお店やその人のお気に入りの投稿からもあなたにぴったりの出会いがあるかもしれません。
            </p>
          </div>
          <div class= "col-6 how_to_sections_img how_to_sec_img1">
            <%= image_tag "about-section1.jpg", class: "rounded-circle", size: "350x350" %>
          </div>
        </div>
        <div class= "row how_to_sections how_to_sec2">
          <div class= "col-6 how_to_sections_img how_to_sec_img2">
            <%= image_tag "about-section2.jpg", size: "300x300", class: "rounded-circle" %>
          </div>
          <div class= "col-6 how_to_sections_text">
            <h2>お店を探す</h2>
            <p>お店を地域や名前から探せます。<br>
              気になるお店を検索してみてください。
              その気になるお店の投稿をチェックすることでお店の雰囲気がわかるかもしれません。<br>
              地域ごとに検索することで自分が普段から行く場所や、たまたま立ち寄った場所の近くのカフェを探すこともできます。</p>
          </div>
        </div>
        <div class= "row concept_section_signin_link">
          <div class= "col-12 text-center mt-3 mb-2">
            <p><%= link_to "はじめる",new_user_registration_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>