<div class= "jumbotron jumbotron-fluid main-visual">
  <div class= "container d-flex align-items-center text-center">
    <h1>food<br>Humanity × taste</h1>
  </div>
</div>

<div class= "top_main_content">
  <div class="container">
    <div class="row">
      <div class= "top-post-items col-10">
        <h1>snap shots</h1>
        <% if @posts.count > 0 %>
          <div class="top_posts_section">
            <%= render "posts/index", posts: @posts %>
          </div>
        <% else %>
          <h4>まずは気になる人をフォローしてみましょう！</h4>
        <% end %>
      </div>
      <div class="sidebar col-2">
        <p>地域一覧</p>
        <p>ユーザー</p>
        <div class= "users_index_section">
          <%= render "users/index", users: @users %>
        </div>
      </div>
    </div>
  </div>
</div>
