<div class= "areas_index_content">
  <h5>地域一覧</h5>
  <div class= "area_items">
    <% areas.each do |area| %>
      <div class= "area_item">
        <%= link_to area.area_name, area_path(area) %>
      </div>
    <% end %>
  </div>
</div>