<div class = "container">
  <h1>投稿編集</h1>
  <%= render "posts/post_form", post: @post %>
  <p><%= link_to "投稿を削除する", post_path(@post), method: :delete, "data-confirm" => "本当に削除してよろしいですか？" %></p>
</div>
