/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

//共通 ここから


//posts index ここから

.post_item{
  float: left;
  margin: 3px;
}

//posts index ここまで


//users,posts_show tab ここから

.tab_menu_content{
  li{
    display: inline;
  }
}

//users,posts_show tab ここまで

//共通 ここまで


//top-page

.main-visual{
  height: 300px;
  background-image: image-url("top-happy-img.jpeg");
  background-size: cover;
  background-position: center;
  h1{
  color: white;
  margin: 0 auto;
  text-shadow: 2px 2px 2px black;
  }
}

.top-post-items{
  h1{
    text-shadow: 0px 0px 2px #fff, 4px 4px 2px rgba(0,0,0,0.3);
  }
}

//top-page


//about-page

.concept-section{
  height: 300px;
  background-image: image-url("about-main-img.jpeg");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.concept_text{
  background-color: rgba(0,0,0,0.4);
  height: 300px;
  h2,p{
  padding-top: 30px;
  color: white;
  margin: 0 auto;
  }
  p{
    padding-top: 10px;
    line-height: 200%;
  }
}

.how_to_section_title{
  h1{
  margin: 5% auto;
  border-bottom: 3px solid orange;
  }
}

.how_to_sections{
  margin-bottom: 5%;
}

.how_to_sections_text{
  h4{
    text-align: center;
    margin-bottom: 10%;
    border-bottom: 2px solid orange;
  }
  p{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 200%;
  }
}

.concept_section_signin_link{
  p{
    font-size: 150%;
  }
}

//about-page


//posts_index_page

.post-index{
  h1{
  text-align: center;
  }
}

//posts_index_page


//users_show_page ここから

.user_show_top_contents{
  margin: 3% 0;
}

.user_show_icon{
  text-align: center;
  float: left;
  padding-right: 10%;
  p{
    padding-top: 20%;
  }
}

.user_show_follow_info{
  margin: auto;
}

.tab_menu_content{
  position: relative;
  text-align: center;
  li{
    padding-right: 10%;
  }
}

#tab_menu{
  position: absolute;
  bottom: 0;
}


//users_show_page ここまで
