/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


*{
  margin: 0;
  padding: 0;
  word-break: break-all;
}

li{
  list-style: none;
}

a:hover{
  color: orange;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

table{
  width: 100%;
}

.contents{
  margin: 3% auto;
  h1{
    padding-bottom: 3%;
  }
}

//tab_menu レイアウト

.tab_menu_contents{
  text-align: center;
  margin: 5% 0;
}

.tab_menu_items{
  li{
    display: inline;
  }
  a{
    padding: 0 3%;
    margin: 0 2%;
    color: black;
    opacity: 0.5;
    font-size: 120%;
  }

  a:hover{
    opacity: 1;
    text-decoration: none;
  }

  .a_active{
    opacity: 1;
    border-bottom: 2px solid orange;
  }
}



//レンダリング　レイアウト　ここから


//user_top_infoレイアウト

.user_top_info_items{
  margin-top: 3%;
}

.user_show_icon{
  text-align: center;
  display: inline-block;
  padding-right: 3%;
  width: 20%;
  p{
    padding-top: 20%;
  }
}

.user_show_follow_info{
  display: inline-block;
  width: 20%;
}

.user_show_follow_info_items{
  text-align: center;
  float: left;
}

#follow_counts{
  margin-bottom: 3%;
}

.user_edit_link{
  padding-top: 3%;
}

.user_introduction{
  display: inline-block;
  width: 57%;
}

.user_introduction_text{
  padding: 2%;
  border: 2px solid rgba(0,0,0,0.6);
  text-align: left;
}


//user_indexレイアウト

.users_content{
  padding-left: 7%;
}

.users_table{
  a{
    color: white;
  }
  a:hover{
    color: orange;
    text-decoration: none;
  }
}


//follow_people_numレイアウト

.follow_count_items{
  a{
    display: block;
    padding-bottom: 10%;
  }
}


//following,_follower 共通レイアウト

.follow_user_index_table{
  padding-left: 40%;
  padding-top: 3%;
}

.follow_people{
  a{
    color: white;
  }
  a:hover{
    text-decoration: none;
    color: orange;
  }
}


//favoriteレイアウト

.heart_favorited{
  color: red;
}


//favorites_indexレイアウト

.favorites_index_content{
  text-align: center;
  h6{
    padding-top: 10%;
  }
  p{
    text-align: left;
  }
}


//posts_indexレイアウト

.post_index{
  margin: 0 auto;
  text-align: center;
}

.post_item{
  display: inline-block;
  p{
    text-align: left;
  }
}


//post_formレイアウト

.post_form_content{
  margin-top: 3%;
}

.post_form_image_section{
  label{
    padding-top: 5%;
    display: block;
  }
}

.post_text_form_section_items{
  margin-top: 3%;
  textarea{
    width: 100%;
  }
  #post_rating{
    width: 30%;
  }
  .post_form_submit{
    float:right;
  }
}


//post_commentレイアウト

.post_comment_table{
  width: 100%;
}

.post_comment_user{
  p{
    display: inline-block;
    padding-left: 5%;
  }
  a{
    text-decoration: none;
  }
}

.post_comment_area{
  width: 60%;
}

.post_comment_form{
  input[type="text"]{
    width: 30%;
    height: 40%;
  }
}

.post_comment_form_submit_btn{
  float: right;
  margin-top: 3%;
}


//shop_showレイアウト

.shop_show_post_new_link{
  float: right;
  font-size: 120%;
}

#shop_recommend_button{
  margin-bottom: 1%;
}

#map{
  height: 250px;
  width: 65%;
}


//shop_formレイアウト

.shop_name_form{
  width: 40%;
}

.shop_address_form{
  width: 80%;
}

.shop_phone_number_form{
  width: 30%;
}

.shop_form_submit{
  float: right;
  padding: 1%;
}


//shop_recommendationsレイアウト

.shop-recommendations_content{
  margin-left: 5%;
  text-align: center;
}

.shop_no_recommendation_message{
  padding-top: 20%;
}

.shop_recommendation{
  a{
    display: block;
    padding-top: 5%;
    border-bottom: 1px solid black;
  }
}


//area_indexレイアウト

.area_items{
  padding-left: 10%;
}

.area_item{
  display: inline-block;
  padding: 2%;
}


//レンダリング　レイアウト　ここまで


//application.html

body,
#wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #efefef;
}

footer{
  margin-top: auto;
  color: white;
  background-color: black;
}

//header

header{
  height: 70px;
  nav{
    background-color: #622d18;
    height: 100%;
    a{
      color: white;
      font-weight: bold;
      font-family: 'Comic Sans MS', sans-serif;
      text-shadow: 1px 1px 1px black;
    }
    a:hover{
     color: #fcc800;
     text-shadow: 1px 1px 1px black;
     text-decoration: none;
    }
  }

  .navbar-brand{
    font-size: 150%;
  }

  .nav-item{
    font-size: 110%;
  }
}

.search{
  p{
    display: inline-block;
    color: white;
    margin: auto;
  }
}


//home_topページ

.main-visual{
  height: 300px;
  padding: 0;
  background-image: image-url("home-top-img.jpg");
  background-size: cover;
  background-position: center;
  h1{
  color: white;
  margin: 0 auto;
  text-shadow: 2px 2px 2px black;
  }
}

.home_top_section{
  height: 300px;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  h1{
    font-size: 350%;
    font-weight: bold;
    font-family: 'Comic Sans MS', sans-serif;
  }
}


.top-post-items{
  h1{
    text-shadow: 0px 0px 2px #fff, 4px 4px 2px rgba(0,0,0,0.3);
    text-align: center;
  }
  h4{
    text-align: center;
    padding-top: 15%;
  }
}

.users_index_section{
  h5{
    padding-top: 10%;
  }
}

.users_table{
  margin: 10% auto;
}


//home_aboutページ

.about_contents_cover{
  background-color: rgba(0,0,0,0.1);
}

.about_contents{
  background-image: image-url("about-main-back-img.jpg");
  background-size: cover;
  background-position: bottom;
}

.concept-section{
  height: 500px;
  background-image: image-url("about-top-img.jpg");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.concept_text{
  background-color: rgba(0,0,0,0.3);
  height: 500px;
}

.about_top_text_items{
  background-color: rgba(0,0,0,0.7);
  height: 350px;
  color: white;
  font-weight: bold;
  h1{
    padding-top: 3%;
  }
  p{
    margin-top: 3%;
    margin-left: 10%;
    line-height: 300%;
    font-size: 120%;
  }
}

.how_to_section_title{
  h1{
  margin: 5% auto;
  padding: 2% 3%;
  text-decoration: underline;
  text-decoration-color: orange;
  background-color:rgba(255,255,255,0.9);
  }
}

.how_to_sections{
  margin-bottom: 5%;
}

.how_to_sections_text{
  background-color:rgba(255,255,255,0.9);
  h2{
    text-align: center;
    margin-bottom: 5%;
    border-bottom: 2px solid orange;
    padding: 2% 5%;
    font-weight: bold;
  }
  p{
    padding-top: 5%;
    padding-bottom: 10%;
    line-height: 200%;
    font-size: 120%;
    font-weight: bold;
  }
}

.how_to_sec_img1{
  padding-left: 7%;
}

.how_to_sec_img2{
  text-align: right;
  padding-right: 10%;
  padding-top: 8%;
}

.how_to_sec2{
  margin-top: 5%;
}

.concept_section_signin_link{
  p{
    font-size: 150%;
  }
}


//area_showページ

.area_show_content{
  text-align: center;
  h1{
    text-shadow: 0px 0px 2px #fff, 4px 4px 2px rgba(0,0,0,0.3);
  }
  h4{
    padding-top: 15%;
  }
}

.area_show_posts_index{
  p{
    text-align: left;
  }
}


//user_showページ

.user_show_shop_recommendations{
  text-align: center;
}

#user_info_posts{
  h1{
    text-align: center;
  }
}

.user_show_tab_empty_message{
  padding-top: 10%;
  text-align: center
}

.user_post_area_index{
  text-align: center;
  h6{
    padding-top: 20%;
  }
}

.users_show_area_item{
  p{
    padding-top: 3%;
  }
}


//user_editページ

.user_edit_section{
  margin-top: 3%;
  margin-bottom: 3%;
  h1{
    padding-bottom: 3%;
  }
}

.user_icon_edit{
  label{
    display: block;
    padding-top: 5%;
  }
  .btn{
    margin-top: 20%;
  }
}

.user_text_form_edit_section{
  margin-top: 3%;
  textarea{
    width: 100%;
  }
}

.user_edit_form_submit{
  float: right;
}


//post_showページ

.post_show_top_contents{
  margin: 3% 0;
}

.tab_contents{
  margin-bottom: 3%;
}

.post_show_image{
  text-align: center;
}

.post_show_shop_name_section{
  margin-bottom: 5%;
  h3{
    float: left;
    padding-right: 5%;
  }
}

.post_show_shop_review_section{
  margin-bottom: 5%;
  height: 30%;
  p{
    border: 2px solid rgba(0,0,0,0.6);
    width: 70%;
    height: 100%;
  }
}

.post_show_shop_rating_section{
  display: inline-block;
  padding-top: 3%;
  width: 60%;
  h5{
    display: inline-block;
    padding-right: 2%;
  }
  p{
    display: inline-block;
  }
}

#favorites_button{
  display: inline-block;
}


//post_editページ

.post_edit_content{
  .btn-danger{
    margin-top: 5%;
  }
}


//shop_showページ

.shop_show_posts_section{
  h1{
    text-shadow: 0px 0px 2px #fff, 4px 4px 2px rgba(0,0,0,0.3);
    text-align: center;
  }
}